body {
  /* background-color: #57cbe2; */
}
.art {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none; 
  /* background-color: #f1faee; */
}

.index {
  text-align: center;
}




